<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM BITE</title>

    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <nav>
            <div class="nav-bar">
                <a href=""><img src="/static/images/file_00000000ca7861f6b80d68bb0f8f551d (1).png" alt="" class="logo"></a>
                <div class="nav-list">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Excercises</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Membership</a></li>
                    </ul>
                </div>
                <div class="nav-profile">
                    <img src="/static/images/file_0000000078a061f685d0440664e477dc.png" alt="">
                    <div class="sign">
                        <a href="">Sign In</a>
                        <a href="">Sign Up</a>
                    </div>
                </div>
            </div>
    </nav>
    <div class="header">
        <div class="slider-head">
            <div class="slider-box ">
                <img src="/static/images/confident-sportswoman-with-dumbbell-dark.jpg" alt="">
                <div class="header-text">
                    <h2><span>GYM </span> BITE</h2>
                    <p>• Earned. Not Given •</p>
                </div>
            </div>
        </div>
    </div>
    <section class="objectives">
        <div class="obj-container">
            <div class="obj-box">
                <div class="obj-frame">
                    <img src="/static/images/icons8-yoga-50.png" alt="">
                    <h2>PERSONAL GROWTH</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolore vel rem quo consectetur, ducimus fugiat itaque animi doloribus, unde necessitatibus voluptatum ea illo placeat.</p>
                </div>
            </div>
            <div class="obj-box">
                <div class="obj-frame">
                    <img src="/static/images/icons8-healthy-60.png" alt="">
                    <h2>HEALTHY LIVING</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis rerum, dolores non corporis nisi culpa quia est esse molestiae quis harum, tempore ipsum exercitationem assumenda.</p>
                </div>
            </div>
            <div class="obj-box">
                <div class="obj-frame">
                    <img src="/static/images/icons8-fitness-50.png" alt="">
                    <h2>FITNESS</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nihil blanditiis veniam. Soluta officiis praesentium aut error, repellendus at, a libero ullam nostrum ad eveniet.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="classes">
        <div class="classes-box">
            <div class="classes-num">
                <div class="classes-num-box"></div>
                <p><i>01</i></p>
            </div>
            <div class="classes-frame" style="color: white;">
                <div class="classes-text">
                    <h2>DISCOVER <span>CLASSES</span> </h2>
                </div>
                    <div class="classes-frame-box">
                        <div class="classes-container-box">
                            <div class="classes-container">
                                <div class="class-img-box">
                                    <img class="top-image" src="/static/images/2023_03-31_RH_OneLifeFitness_Scene2-Turf_1541 copy.webp" alt="">
                                </div>
                                <h2>CrossFit Group Classes</h2>
                            </div>
                            <video class="classes-video" autoplay muted loop>
                                <source src="/static/video/6540312-uhd_3840_2160_24fps.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div class="classes-container-box">
                            <div class="classes-container">
                                <div class="class-img-box">
                                    <img class="top-image" src="/static/images/GettyImages-455244937-598090e8b2144344af56ba5f836e9072.jpg" alt="">
                                </div>
                                <h2>Strength Training</h2>
                            </div>
                            <video class="classes-video" muted autoplay loop>
                                <source src="/static/video/mixkit-man-doing-push-ups-using-dumbbells-40248-hd-ready.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="classes-container-box">
                            <div class="classes-container">
                                <div class="class-img-box">
                                    <img class="top-image" src="/static/images/personal-trainer-is-showing-sportswoman-exercises-with-kettlebell-gym_232070-23027.avif" alt="">
                                </div>
                                <h2>Personal Training</h2>
                            </div>
                            <video class="classes-video" muted autoplay loop>
                                <source src="/static/video/148197-793717924_small.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="classes-container-box">
                            <div class="classes-container">
                                <div class="class-img-box">
                                    <img class="top-image" src="/static/images/GettyImages-1195045259.jpg" alt="">
                                </div>
                                <h2>Aerobics</h2>
                            </div>
                            <video class="classes-video" muted autoplay loop>
                                <source src="/static/video/27090-361827449_medium.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="classes-container-box">
                            <div class="classes-container">
                                <div class="class-img-box">
                                    <img class="top-image" src="/static/images/istockphoto-1703573933-612x612.jpg" alt="">
                                </div>
                                <h2>Pregnant Course</h2>
                            </div>
                            <video class="classes-video" muted autoplay loop>
                                <source src="/static/video/4110436-uhd_3840_2160_30fps.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="classes-container-box">
                            <div class="classes-container">
                                <div class="class-img-box">
                                    <img class="top-image" src="/static/images/istockphoto-1299421209-612x612.jpg" alt="">
                                </div>
                                <h2>Healthy Course</h2>
                            </div>
                            <video class="classes-video" muted autoplay loop>
                                <source src="/static/video/10048-222028257_medium.mp4" type="video/mp4">
                            </video>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="goals" style="color: white;">
        <div class="classes-num" style="margin-left: auto; width: 100%; display: flex; justify-content: right;">
            <div class="classes-num-box" style="border-radius: 5rem 0rem 0rem 5rem; width: 18rem;"></div>
            <p style="padding-right: 2rem;"><i>02</i></p>
        </div>
        <div class="goals-container">
            <h2 style="margin-left: 5rem;" class="goal-header">OUR <span>GOALS</span></h2>
            <div class="goals-box">
                <div class="goal-text">
                    <div class="goal-head">
                        <h1>1</h1>
                        <h2>PROMOTE A HEALTHY LIFESTYLE</h2>
                    </div>
                    <div class="goal-speech">
                        <p>PROMOTE A HEALTHY LIFESTYLE</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente vero magnam a commodi et, sunt id optio omnis. Ratione, in.</span>
                    </div>
                </div>
                <div class="goal-text">
                    <div class="goal-head">
                        <h1>2</h1>
                        <h2 style="width: 17rem;">FOSTER A SUPPORTIVE COMMUNITY</h2>
                    </div>
                    <div class="goal-speech">
                        <p>FOSTER A SUPPORTIVE COMMUNITY</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente vero magnam a commodi et, sunt id optio omnis. Ratione, in.</span>
                    </div>
                </div>
                <div class="goal-text">
                    <div class="goal-head">
                        <h1>3</h1>
                        <h2>ENSURE MEMBER SATISFACTION</h2>
                    </div>
                    <div class="goal-speech">
                        <p>ENSURE MEMBER SATISFACTION</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente vero magnam a commodi et, sunt id optio omnis. Ratione, in.</span>
                    </div>
                </div>
                <div class="goal-text">
                    <div class="goal-head">
                        <h1>4</h1>
                        <h2>OFFER EXPERT GUIDANCE</h2>
                    </div>
                    <div class="goal-speech">
                        <p>OFFER EXPERT GUIDANCE</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente vero magnam a commodi et, sunt id optio omnis. Ratione, in.</span>
                    </div>
                </div>
                <div class="goal-text">
                    <div class="goal-head">
                        <h1>5</h1>
                        <h2>PROMOTE MENTAL WELL-BEING</h2>
                    </div>
                    <div class="goal-speech">
                        <p>PROMOTE MENTAL WELL-BEING</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente vero magnam a commodi et, sunt id optio omnis. Ratione, in.</span>
                    </div>
                </div>
                <div class="goal-text">
                    <div class="goal-head">
                        <h1>6</h1>
                        <h2>SUPPORT ALL FITNESS LEVELS</h2>
                    </div>
                    <div class="goal-speech">
                        <p>SUPPORT ALL FITNESS LEVELS</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente vero magnam a commodi et, sunt id optio omnis. Ratione, in.</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="about">
        <div class="about-box"></div>
        <div class="classes-num" style="padding-bottom: 5rem; padding-top: 5rem;">
            <div class="classes-num-box"></div>
            <p><i>03</i></p>
        </div>
        <div class="about-frame" style="padding: 0rem 5rem;">
            <h2 class="goal-header" style="padding-bottom: 3rem;">ABOUT <span>US</span></h2>
            <div class="about-container" style="background: linear-gradient(to right, black, rgb(28, 28, 28),black);">
                <img src="/static/images/gym4.png" alt="" style="width: 25rem;">
                <div class="about-text" style="color: white;">
                    <h3 style="position: relative; font-size: 100px; -webkit-text-stroke: 1px rgba(255, 255, 255, 0.418); color: transparent;">WHO ARE WE <span style="color: transparent; font-size: 108px; -webkit-text-stroke: 1px red;">?</span></h3>
                    <h3 style="position: absolute; margin-top: -5.5rem;">WHO ARE WE <span style="color: red; font-size: 58px;">?</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni provident odit, dolore eos voluptatum illo, aliquid ipsa dignissimos veritatis dolores sed nam sapiente atque voluptas quas aut. Odit laborum quos repellendus aliquid officiis quis reiciendis cumque velit sint accusantium nesciunt quas cum, minima ratione distinctio ullam porro aut ducimus. Ab!</p>
                </div>
            </div>
            <button class="about-btn" style="color: white;">
                    <p>JOIN US</p>
            </button>
        </div>
        <div class="acheivements" style="padding: 8rem;">
            <div class="achieve" style="background: linear-gradient(to left, black, rgb(28, 28, 28),black);">
                <div class="about-text" style="color: white;" id="about">
                    <h3 style="position: relative; font-size: 95px; -webkit-text-stroke: 1px rgba(255, 255, 255, 0.418); color: transparent;">ACHIEVEMENTS<span style="color: transparent; font-size: 100px; -webkit-text-stroke: 1px red;">!</span></h3>
                    <h3 style="position: absolute; margin-top: -5.5rem; font-size: 52px;">ACHIEVEMENTS<span style="color: red; font-size: 58px;">!</span></h3>
                    <p>Gym bite is anot just a world class gym, but also a social community catalyst, we have been recognized both globally and locally for our impact in individuals and the community at large, such recognition has come in form of awards which include:</p>
                    <span>
                        <ul class="achieve-list">
                            <li>Best Gym in the City</li>
                            <li>Fitness Business of the Year</li>
                            <li>Best Personal Trainig Program</li>
                            <li>Green Gym Award</li>
                            <li>Most Innovative Gym Design</li>
                            <li>Top Customer Experience Award</li>
                            <li>Best Wellness & Lifestyle Support</li>
                            <li>Top Health & Fitness App Integration</li>
                            <li>Oustanding Community Engagement</li>
                        </ul>
                    </span>
                </div>
                <img src="/static/images/gym5.png" alt="">
            </div>
        </div>
    </section>
    <section class="membership" style="padding-top: 5rem;">
        <div class="classes-num" style="margin-left: auto; width: 100%; display: flex; justify-content: right;">
            <div class="classes-num-box" style="border-radius: 5rem 0rem 0rem 5rem; width: 18rem;"></div>
            <p style="padding-right: 2rem;"><i>04</i></p>
        </div>
        <div class="member-box" style="padding: 5rem; color: white;" >
            <h2 class="goal-header" style="padding-bottom: 3rem;">MEMBERSHIP <span>PLANS</span></h2>
            <div class="member-frame">
                <div class="member-prices">
                     <h2>$12</h2>
                     <h3>WEEKLY PACKAGE</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quo delectus fugiat dolorem ipsam reprehenderit necessitatibus explicabo nam totam adipisci.</p>
                    <button>
                        REGISTER NOW
                    </button>
                    <div class="folded-corner"></div>
                    <div class="fold"></div>
                </div>
                <div class="member-prices">
                     <h2>$240</h2>
                     <h3>MONTHLY PACKAGE</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quo delectus fugiat dolorem ipsam reprehenderit necessitatibus explicabo nam totam adipisci.</p>
                    <button>
                        REGISTER NOW
                    </button>
                    <div class="folded-corner"></div>
                    <div class="fold"></div>
                </div>
                <div class="member-prices">
                     <h2>$1240</h2>
                     <h3>YEARLY PACKAGE</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quo delectus fugiat dolorem ipsam reprehenderit necessitatibus explicabo nam totam adipisci.</p>
                    <button>
                        REGISTER NOW
                    </button>
                    <div class="folded-corner"></div>
                    <div class="fold"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="break-image">
        <div class="break-box">
            <img src="/static/images/gym9.png" alt="" class="img-splash">
            <h2 style="color: white;">FITNESS</h2>
            <img src="/static/images/gym8.png" alt="" class="img-slash-fig">
        </div>
    </section>
    <section class="week-plan">
        <div class="week-box">
            <div class="week-frame" style="color: white;">
                <div class="frame1">
                    <h2 class="goal-header" style="padding-bottom: 2rem; font-size: 60px;">4-WEEK <span>PLAN</span></h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis totam fuga quae iure inventore dolores? Dolorum aliquid obcaecati accusamus cupiditate deleniti odit et. Cupiditate minima tenetur odio laboriosam cumque eius accusantium quasi odit aspernatur ratione maiores id, neque qui nobis amet aliquid porro facere pariatur quod doloremque accusamus! Nemo sit quam eius tempore mollitia inventore dignissimos, possimus odio dolor, in blanditiis ducimus, officia voluptatem sapiente! Illum nihil veritatis soluta! Quas quia error aliquid dignissimos illo unde perferendis iusto accusamus ipsa sunt nobis dolore recusandae consequuntur labore quam ea vitae, id, placeat neque nulla. Eius accusantium, natus magni sint nihil ab?</p>
                    <button>TRY OUT FOR FREE</button>
                </div>
                <img src="/static/images/gym11.jpg" alt="">
                <div class="frame2">
                    <div class="frame-box">
                        <h2>GET INSPIRED</h2>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe quasi maiores sed quidem ut exercitationem enim pariatur omnis facilis commodi, corporis unde, tempora sapiente modi soluta. Omnis soluta illum aliquid in ducimus, deleniti aspernatur quam commodi deserunt autem, reprehenderit esse exercitationem facilis veniam, fuga a ipsa obcaecati aut sint alias.</P>
                        <div class="frame-btn">
                            <button>↗</button>
                            <span>EXPLORE MORE</span>
                        </div>
                    </div>
                    <div class="frame-box">
                        <h2>CHALLENGE YOURSELF</h2>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe quasi maiores sed quidem ut exercitationem enim pariatur omnis facilis commodi, corporis unde, tempora sapiente modi soluta. Omnis soluta illum aliquid in ducimus, deleniti aspernatur quam commodi deserunt autem, reprehenderit esse exercitationem facilis veniam, fuga a ipsa obcaecati aut sint alias.</P>
                        <div class="frame-btn">
                            <button>↗</button>
                            <span>EXPLORE MORE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="trainers">
        <div class="classes-num" style="padding-bottom: 5rem; padding-top: 5rem;">
            <div class="classes-num-box"></div>
            <p><i>05</i></p>
        </div>
        <div class="trainers-box">
            <h2 class="goal-header" style="padding-bottom: 3rem; padding-left: 5rem;">OUR <span>TRAINERS</span></h2>
            <div class="trainers-frame">
                <div class="trainer-img-box">
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/portrait-smiling-afro-american-sports-man-with-arms-folded-looking-camera.jpg" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Michael Quinn</h2>
                                <p>Gym Manager</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/beautiful-sportive-girl-posing-with-crossed-arms-dark-wall.jpg" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Sandra Beckham</h2>
                                <p>Fitness Trainer</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/image00003-1631894082.jpeg" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Chidi Obi Smith</h2>
                                <p>Fitness Trainer</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/young-fitness-girl-wearing-headband-looking-camera-with-serious-confident-expression-with-arms-crossed-standing-white-background.jpg" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Nara Taraji</h2>
                                <p>Fitness Trainer</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/front-view-man-holding-ball-gym.jpg" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Collin Roberts</h2>
                                <p>Personal Trainer</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/front-view-woman-with-headphones.jpg" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Diana Shaqiri</h2>
                                <p>Fitness Trainer</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/young-adult-doing-indoor-sport-gym_23-2149205542.avif" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Moise Evans</h2>
                                <p>Personal Trainer</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/athletic-brunette-woman-pink-shirt-sitting-wooden-box-holding-dumbell.jpg" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Taylor Devante</h2>
                                <p>Personal Trainer</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="trainers-img">
                        <div class="trainer-sect"><img src="/static/images/360_F_73585817_7JiJAaxjBcULNNiHLAL9c9ctYu7hE7QC.jpg" alt="">
                        </div>
                            <div class="trainers-image-text">
                            <div class="trainer-text">
                                <h2>Kingsley Kingston</h2>
                                <p>Nutritionist</p>
                            </div>
                            <div class="trainer-icon">
                                <div class="trainer-icon-box"><img src="/static/images/icons8-instagram-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-facebook-50 (1).png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-x-50.png" alt=""></div>
                                <div class="trainer-icon-box"><img src="/static/images/icons8-linkedin-50 (1).png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testiomies">
        <div class="classes-num" style="margin-left: auto; width: 100%; display: flex; justify-content: right;">
            <div class="classes-num-box" style="border-radius: 5rem 0rem 0rem 5rem; width: 18rem;"></div>
            <p style="padding-right: 2rem;"><i>06</i></p>
        </div>
        <div class="test-box">
            <h2 class="goal-header" style="padding-bottom: 3rem; padding-left: 5rem;">SUCCESS<span> STORIES</span></h2>
            <div class="test-frame" >
                <div class="test-list" id="testSlide">
                    <div class="test-items">
                        <div class="test-head">
                            <div class="test-name">
                                <img src="/static/images/PP1.jpg" alt="">
                                <h2>Ruben Entoine</h2>
                            </div>
                            <img src="/static/images/icons8-five-of-five-stars-64.png" alt="" class="stars">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reiciendis veritatis iusto assumenda, non culpa et laborum neque cupiditate quaerat, nostrum accusamus quas earum nobis alias ipsum dicta, maiores perferendis.</p>
                    </div>
                    <div class="test-items">
                        <div class="test-head">
                            <div class="test-name">
                                <img src="/static/images/PP2.jpg" alt="">
                                <h2>David Kendrick</h2>
                            </div>
                            <img src="/static/images/icons8-four-of-five-stars-64.png" alt="" class="stars">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reiciendis veritatis iusto assumenda, non culpa et laborum neque cupiditate quaerat, nostrum accusamus quas earum nobis alias ipsum dicta, maiores perferendis.</p>
                    </div>
                    <div class="test-items">
                        <div class="test-head">
                            <div class="test-name">
                                <img src="/static/images/PP3.jpg" alt="">
                                <h2>Samantha Pierce</h2>
                            </div>
                            <img src="/static/images/icons8-five-of-five-stars-64.png" alt="" class="stars">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reiciendis veritatis iusto assumenda, non culpa et laborum neque cupiditate quaerat, nostrum accusamus quas earum nobis alias ipsum dicta, maiores perferendis.</p>
                    </div>
                    <div class="test-items">
                        <div class="test-head">
                            <div class="test-name">
                                <img src="/static/images/PP4.png" alt="">
                                <h2>Renegade Nell</h2>
                            </div>
                            <img src="/static/images/icons8-five-of-five-stars-64.png" alt="" class="stars">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reiciendis veritatis iusto assumenda, non culpa et laborum neque cupiditate quaerat, nostrum accusamus quas earum nobis alias ipsum dicta, maiores perferendis.</p>
                    </div>
                    <div class="test-items">
                        <div class="test-head">
                            <div class="test-name">
                                <img src="/static/images/PP5.jpg" alt="">
                                <h2>James Byron</h2>
                            </div>
                            <img src="/static/images/icons8-five-of-five-stars-64.png" alt="" class="stars">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reiciendis veritatis iusto assumenda, non culpa et laborum neque cupiditate quaerat, nostrum accusamus quas earum nobis alias ipsum dicta, maiores perferendis.</p>
                    </div>
                    <div class="test-items">
                        <div class="test-head">
                            <div class="test-name">
                                <img src="/static/images/PP6.jpg" alt="">
                                <h2>Kevin Katuka</h2>
                            </div>
                            <img src="/static/images/icons8-four-of-five-stars-64.png" alt="" class="stars">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reiciendis veritatis iusto assumenda, non culpa et laborum neque cupiditate quaerat, nostrum accusamus quas earum nobis alias ipsum dicta, maiores perferendis.</p>
                    </div>
                    <div class="test-items">
                        <div class="test-head">
                            <div class="test-name">
                                <img src="/static/images/PP7.jpg" alt="">
                                <h2>Mary Stephens</h2>
                            </div>
                            <img src="/static/images/icons8-five-of-five-stars-64.png" alt="" class="stars">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reiciendis veritatis iusto assumenda, non culpa et laborum neque cupiditate quaerat, nostrum accusamus quas earum nobis alias ipsum dicta, maiores perferendis.</p>
                    </div>
                    <div class="test-items">
                        <div class="test-head">
                            <div class="test-name">  
                                <img src="/static/images/PP8.jpg" alt="">
                                <h2>Anna Prince</h2>
                            </div>
                            <img src="/static/images/icons8-five-of-five-stars-64.png" alt="" class="stars">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed reiciendis veritatis iusto assumenda, non culpa et laborum neque cupiditate quaerat, nostrum accusamus quas earum nobis alias ipsum dicta, maiores perferendis.</p>
                    </div>
                </div>
            </div>
            <div class="test-review">
                <div class="test-review-box">
                    <div class="test-star">
                        <p>ratings</p>
                        <div class="test-star-box">
                            <div class="test-star-frame"><img src="/static/images/icons8-one-of-five-stars-64 (1).png" alt=""></div>
                            <div class="test-star-frame"><img src="/static/images/icons8-two-of-five-stars-64 (1).png" alt=""></div>
                            <div class="test-star-frame"><img src="/static/images/icons8-three-of-five-stars-64 (2).png" alt=""></div>
                            <div class="test-star-frame"><img src="/static/images/icons8-four-of-five-stars-64.png" alt=""></div>
                            <div class="test-star-frame"><img src="/static/images/icons8-five-of-five-stars-64.png" alt=""></div>
                        </div>
                    </div>
                    <form action="">
                        <input class="review-text" type="text" placeholder="We'll love to hear your review">
                        <button><input type="submit" value="→"></button>
                    </form>
                </div>
            </div>
        </div>
           
    </section>
    <section class="blog">
        <div class="classes-num" style="padding-bottom: 5rem; padding-top: 5rem;">
            <div class="classes-num-box"></div>
            <p><i>07</i></p>
        </div>
        <div class="blog-box">
            <h2 class="goal-header" style="padding-bottom: 3rem; padding-left: 5rem;">BLOGS/<span> ARTICLES</span></h2>
            <div class="blog-frame">
                <div class="blog-item-frame" style="cursor: pointer;">
                    <img src="/static/images/ayo-ogunseinde-0xWXyaa8bTQ-unsplash.jpg" alt="">
                    <div class="blog-item-frametext" style="width: 19rem; font-size: 20px; text-align: center; margin-left: 5rem; padding-top: 5rem; color: rgba(255, 255, 255, 0.774);">
                        <p>Take care of your body, it's the only place you have to live <br><em>Jim Rohn</em></p>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="blog-item-box">
                        <img src="/static/images/pexels-cesar-galeao-1673528-3253501.jpg" alt="">
                        <div class="blog-item-text">
                            <h2>Weekly Drill</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat aspernatur vero excepturi rem voluptates possimus eaque distinctio, nemo tempore architecto quia sit obcaecati veniam labore atque a doloremque nobis? Dolor?</p>
                        </div>
                    </div>
                    <div class="blog-item-box">
                        <img src="/static/images/b4.jpg" alt="">
                        <div class="blog-item-text">
                            <h2>Eating Healthy</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium saepe deleniti sequi eveniet asperiores perferendis, quis illum dicta nostrum excepturi repellendus autem vel praesentium. Architecto, natus. Sapiente saepe eos facilis.</p>
                        </div>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-item-box">
                        <img src="/static/images/chris-kendall-sJ6az6-T1u8-unsplash.jpg" alt="">
                        <div class="blog-item-text">
                            <h2>Weekend Boxing</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium saepe deleniti sequi eveniet asperiores perferendis, quis illum dicta nostrum excepturi repellendus autem vel praesentium. Architecto, natus. Sapiente saepe eos facilis.</p>
                        </div>
                    </div>
                    <div class="blog-item-box">
                        <img src="/static/images/medium-shot-fit-man-training.jpg" alt="">
                        <div class="blog-item-text">
                            <h2>Getting Ripped</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium saepe deleniti sequi eveniet asperiores perferendis, quis illum dicta nostrum excepturi repellendus autem vel praesentium. Architecto, natus. Sapiente saepe eos facilis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button style="color: white;"><p>SEE MORE</p></button>
        </div>
    </section>
    <section class="news">
        <div class="classes-num" style="margin-left: auto; width: 100%; display: flex; justify-content: right;">
            <div class="classes-num-box" style="border-radius: 5rem 0rem 0rem 5rem; width: 18rem;"></div>
            <p style="padding-right: 2rem;"><i>08</i></p>
        </div>
        <div class="news-head">
            <h2 class="goal-header" style="padding-bottom: 3rem; padding-left: 5rem;">NEWS<span> LETTER</span></h2>
            <div class="news-box">
                <div class="news-frame">
                    <img src="" alt="">
                    <img src="/static/images/newsletter-illustration-download-in-svg-png-gif-file-formats--weekly-annual-monthly-web-mobile-pack-network-communication-illustrations-3585405.webp" alt="">
                </div>
                <div class="news-container">
                <img src="/static/images/newsletterbg.png" alt="">
                <div class="news-form">
                    <h2>Suscribe to our Newsletter</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat maiores, deserunt error numquam nobis quas vero, voluptatum laudantium eaque quod mollitia, necessitatibus dolores delectus!</p>
                    <form action="">
                        <input type="email" class="apply" placeholder="enter your email">
                        <button><input type="submit" value="suscribe"></button>
                    </form>
                </div>
                </div>
                <div class="news-frame">
                    <img src="/static/images/360_F_1363565889_hKHbz7VroiZBcPQnxrqoKxOdmB5Glp0t.png" alt="">
                    <img src="/static/images/newsletterbg.png2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
         <div class="classes-num" style="padding-bottom: 5rem; padding-top: 5rem;">
            <div class="classes-num-box"></div>
            <p><i>09</i></p>
        </div>
        <div class="contact-box">
            <h2 class="goal-header" style="padding-bottom: 3rem; padding-left: 5rem;">CONTACT<span> US</span></h2>
            <div class="contact-item-box">
                <div class="contact-container">
                <div class="contact-items">
                    <div class="content-item-box">
                        <img src="" alt="">
                        <h2>OUR LOCATION</h2>
                        <p></p>
                    </div>
                </div>
                <div class="contact-items">
                    <div class="content-item-box">
                        <img src="" alt="">
                        <h2>PHONE NUMBER</h2>
                        <p></p>
                    </div>
                </div>
                <div class="contact-items">
                    <div class="content-item-box">
                        <img src="" alt="">
                        <h2>FAX</h2>
                        <p></p>
                    </div>
                </div>
                <div class="contact-items">
                    <div class="content-item-box">
                        <img src="" alt="">
                        <h2>email</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <h2>Contact Us</h2>
                <form action="">
                    <input type="text" class="apply2">
                    <input type="email" class="apply-email">
                    <input type="text" class="apply3">
                    <button><input type="submit"></button>
                </form>
            </div>
            </div>
        </div>
    </section>

    <script src="/static/js/index.js"></script>
</body>
</html>