<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gymbite signin</title>

    <link rel="stylesheet" href="/static/styles/signin.css">
</head>
<body>
    <nav>
        <div class="nav-head">
            <img src="/static/images/file_00000000ca7861f6b80d68bb0f8f551d (1).png" alt="logo">
            <button><a href="/templates/index.html">Back</a></button>
        </div>
    </nav>
    <section class="sign-box">
        <form action="">
           <div class="form-box">
            <h2>Welcome Back</h2>
             <input type="email" class="email">
            <input type="password" class="password">
            <div class="sign-checkbox">
                <p>Remember me</p>
                <input type="checkbox" class="checkbox">
            </div>
            <button>
                <input type="submit" class="submit">
            </button>
           </div>
        </form>
    </section>
</body>
</html>